
.main_layout_header_logo {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    display: flex;
}

.main_layout_header_menu {
    font-family: 'Noto Sans KR', sans-serif;
}

.main_layout_footer_logo {
    font-family: 'Do Hyeon', sans-serif;
    margin-right: 0.3rem

}

.main_layout_footer_logo2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

.main_layout_footer_service {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    margin-bottom: 0.5rem
}

.main_layout_footer_csad {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left; font-size: 13px;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

.todaymovie_header_nav {
    margin: 0 0.5rem;
}

.login_header > ul {
    display: inline-block;
    margin: 1rem;
    padding: 0;
    list-style: none;
    heght: 200px;
}

.menu_header > ul {
    display: inline-block;
    margin: 1rem;
    padding: 0;
    list-style: none;
}

.menu_header > ul > li {
    display: inline-block;
    margin: 1rem;
    padding: 0;
    list-style: none;
}

.menu_header > ul > li > a {
    color: black;
    text-decoration: none;
}

.menu_header > ul > li > a:hover {
    color: deepskyblue;
}

.menu_footer > ul > li {
    display: inline-block;
}

.menu_footer > ul > li > a {
    color: white;
    text-decoration: none;
}

.menu_footer > ul > li > a:hover {
    color: deepskyblue;
}