<div style="background-color: #141414; color: whitesmoke; padding: 20px 0 38px">

    <div class="main_layout_footer_service">
        <span>서비스 이용약관</span> |
        <span>개인정보 처리방침</span> |
        <span>회사 안내</span>
    </div>
    <div class="main_layout_footer_csad">
        <span>고객센터 | <a href="cs@todaymovie.com">cs@todaymovie.com</a></span>
    </div>
    <div class="main_layout_footer_csad">
        <span>광고 문의 | <a href="ad@todaymovie.com">ad@todaymovie.com</a></span>
    </div>
    <div style="text-align: left; margin-top: 0.5rem">
        <span class="main_layout_footer_logo">오늘 뭐 볼래 ?</span>
        <span class="main_layout_footer_logo2">© 2021 by 오늘뭐볼래?, Inc. All rights reserved.</span>
    </div>

</div>