
<nav style="text-align: center; heigth: 100px"
        class="menu_header">

    <ul>
        <li class="main_layout_header_logo">
            <a href="{% url 'todaymovieapp:main' %}">오늘 뭐 볼래 ?</a>
        </li>
        <li class="main_layout_header_menu">
            <a href="{% url 'projectapp:list' %}" class="todaymovie_header_nav">프로젝트</a>
        </li>
        <li class="main_layout_header_menu">
            <a href="{% url 'articleapp:list' %}" class="todaymovie_header_nav">자유게시판</a>
        </li>
        <li class="main_layout_header_menu">
            영화
        </li>
        <li class="main_layout_header_menu">
            TV 프로그램
        </li>

    </ul>

</nav>