
<div style="text-align: left; position: fixed; z-index: 2; padding: 20px 0 38px">

    <div class="main_layout_header_logo">
        <h1>오늘 뭐 볼래 ?</h1>
    </div>
    <div class="main_layout_header_menu">
        <a href="{% url 'articleapp:list' %}">
            <span>자유게시판</span>
        </a>
        <span>영화</span>
        <span>TV 프로그램</span>

        {% if not user.is_authenticated %}
        <a href="{% url 'todaymovieapp:login' %}?next={{ request.path }}">
            <span>로그인</span>
        </a>
        <a href="{% url 'todaymovieapp:create' %}">
            <span>가입하기</span>
        </a>
        {% else %}
        <a href="{% url 'todaymovieapp:detail' pk=user.pk %}">
            <span>마이페이지</span>
        </a>
        <a href="{% url 'todaymovieapp:logout' %}?next={{ request.path }}">
            <span>로그아웃</span>
        </a>
        {% endif %}

    </div>
</div>