
<nav style="text-align: right;"
     class="menu_header">
<ul>
        {% if not user.is_authenticated %}
        <li>
            <a href="{% url 'todaymovieapp:login' %}?next={{ request.path }}" class="main_layout_header_menu">로그인</a>
        </li>
        <li>
            <a href="{% url 'todaymovieapp:create' %}" class="main_layout_header_menu">가입하기</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'todaymovieapp:logout' %}?next={{ request.path }}" class="main_layout_header_menu">로그아웃</a>
        </li>
        <li>
            <a href="{% url 'todaymovieapp:detail' pk=user.pk %}" class="main_layout_header_menu">마이페이지</a>
        </li>
        {% endif %}
    </ul>
</nav>